
    #quiz {
        color: blue
    }
    body {
    width: 750px;
    font-family: Arial, Verdana, sans-serif;
    background: url("music.jfif");
    background-repeat: no-repeat;
    background-position: right top;

}
#quiz {
    background-color: chartreuse;
    padding: 10px;
}
h1 {

background-color:fuchsia;
padding: 10px;    
}
    